.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;

  .contact-form {
    // display: flex;
    // flex-direction: column;
    // width: 20%;
    // align-items: center;

    .name-form {
      display: flex;
      flex-direction: column;

      .first-name-input {
        display: flex;
        flex-direction: column;
      }

      .name-input {
        display: flex;
        flex-direction: column;
      }
    }

    input {
      padding: 10px 5px 10px 5px;
      margin-bottom: 10px;
    }

    label {
      margin-bottom: 5px;
      font-size: 1.5rem;
    }

    .email-input {
      display: flex;
      flex-direction: column;
    }

    .message-input {
      display: flex;
      flex-direction: column;
    }
  }
}
