.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;

  .contact-form {
    // display: flex;
    // flex-direction: column;
    // width: 20%;
    // align-items: center;

    .name-form {
      display: flex;
      flex-direction: column;

      .first-name-input {
        display: flex;
        flex-direction: column;
      }

      .name-input {
        display: flex;
        flex-direction: column;
      }
    }

    textarea {
      resize: none;
      &:hover {
        border: 1px solid $color-main-nav;
      }
    }

    input {
      padding: 10px 5px 10px 5px;
      margin-bottom: 10px;
      border: 1px solid gray;

      &:hover {
        border: 1px solid $color-main-nav;
      }

      &:focus {
        outline: none;
      }
    }

    label {
      margin-bottom: 5px;
      font-size: 1.5rem;
    }

    .email-input {
      display: flex;
      flex-direction: column;
    }

    .message-input {
      display: flex;
      flex-direction: column;

      .send-btn {
        margin-top: 2rem;
        height: 3rem;
        color: white;
        background-color: $color-main-nav;
        border: none;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
