.welcome-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-bottom: 10rem;

  h1 {
    font-size: 4rem;
  }

  .header-container {
    white-space: pre-wrap;
  }
}
