.projects-container {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.card-front {
  border: 2px solid black;
  height: 50rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  // background-image: url("../../images/Kansha-img.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;

  button {
    width: 8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
  }
}

.card-back {
  border: 2px solid black;
  height: 50rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  button {
    width: 8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
  }
}
