.Skills-cont {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  width: 30%;
  height: 300px;
  margin: 0 auto;
  // border-top: 0.5px solid $color-main-nav;
  border-bottom: 0.5px solid $color-main-nav;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}
