* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #3a3d40;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
body,
#App,
#root,
#App > div {
  min-height: 100%;
}
